@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    position: relative;
}

body{
    background-color: #0c8080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.geral{
    width:900px; /*largura*/
    height: 600px; /*altura*/
    top: 150px;
    background-color: #ffffff; /*cor de fundo*/
    border: 8px solid #000000; /*fazendo uma borda*/
    border-radius: 0 30px; /*arredondamento da borda*/
    display: grid; /*torna a div um container bidimensional*/
    place-items: center;
    transition: 2s;
}
.geral:hover{
    border: 8px solid #ff5100; /*um elemento quando o cursor passa por ele*/
    transition: 2s;
}
h1{
    font-size: 2.2rem;
    text-decoration: underline;
    color: #269c9c;
}
p{
    text-align: justify;
    padding: 2px 30px; /*2px acima e abaixo; 30px esquerda e direita*/
    font-size: 1.2rem;
}